:root {
  --dub-red: #e32526;
  --dub-blue: #091f3f;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.links {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.links .link {
  color: #000;
  font-size: 2rem;
  text-decoration: none;
  text-transform: capitalize;
}

.links .link:hover {
  border-bottom: 2px solid var(--dub-red);
}
